<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title></title><!--ブラウザのタブのタイトルを指定-->
    <link rel="stylesheet" href="../../../../../../../../../stylesheets/messages.scss"><!--これであってるのか？-->
  </head>

  <div class="note_1_3">  


個別メッセージページ
<h2>タイトル</h2><br>

<%= form_with(model:@message,local:true) do |f| %>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :title, :size => 140 %>
    </div>
    
    <h2>内容</h2><br>
    <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, :size => 140 %>
    </div>
  
        
    <%= f.submit "投稿する" %>
  <% end %>
  
  <%= link_to "個別メッセージページ一覧へ", messages_path %>
  <%= link_to "ホームへ戻る", users_path %><br>
  
  
 
  <!-- fはform_with(model:@message,local:true)を表している -->