<!--ここはログアウトしているときの表紙 -->
<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title></title><!--ブラウザのタブのタイトルを指定-->
    <link rel="stylesheet" href="./users/new.scss"><!--これであってるのか-->
  </head>

  <div class="main"><!--赤枠-->
    <div class="container"><!--黄枠-->
      <h1><span>Ending Note</span></h1>
        <div class="about"><!--緑枠-->

          <p>※登録したメールアドレスとパスワードを入力してください。</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

        
            <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
            <div class="field">
            <%= f.check_box :remember_me %>
      
      
        </div>
  <% end %>

            <div class="actions">
            <%= f.submit "Login" %>
            </div>
  <% end %>

<%= render "users/shared/links" %>
